
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">LearnArt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/learnart-webside/LearnArt" target="_blank">Source Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
          <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      </ul>
    </div>
  </nav>
  
  <h1 class="mt-4">Curved Treats</h1>
  <br>
  <div class="container-fluid"> 
    <div class="card-deck">
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Cookie</h3>
            <br>
          <center><i class="fas fa-cookie fa-10x"></i></center>
          <div class="card-body">
                  <a href="/drawCookie" class="btn btn-outline-secondary">Draw Cookie</a>
          </div>
      </div>
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Light Bulb</h3>
        <br>
        <center><i class="far fa-lightbulb fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawLightbulb" class="btn btn-outline-secondary">Draw Light Bulb</a>
        </div>
    </div>

      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Basket Ball</h3>
          <br>
          <center><i class="fas fa-basketball-ball fa-10x"></i></center>
          <div class="card-body">
                  <a href="/drawBasketball" class="btn btn-outline-secondary">Draw Basket Ball</a>
          </div>
      </div>

    </div>
    <div class="card-deck">

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Clock</h3>
        <br>
        <center><i class="far fa-clock fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawClock" class="btn btn-outline-secondary">Draw Clock</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Cake</h3>
        <br>
        <center><i class="fas fa-birthday-cake fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawCake" class="btn btn-outline-secondary">Draw Cake</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Donut</h3>
        <br>
        <center><i class="fas fa-dot-circle fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawDonut" class="btn btn-outline-secondary">Draw Donut</a>
        </div>
      </div>
  
  </div>
  </div>