<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">LearnArt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
        <li class="nav-item">
      <a class="nav-link" href="/users/logout">Logout</a>
    </li>
    </ul>
  </div>
</nav>

<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<div class="container-fluid"> 
  <div class="card-deck">

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Module 1</h3>
        <br>
        <center><i class="fas fa-shapes fa-10x"></i></center>
        <div class="card-body">
                <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Module 2</h3>
        <br>
        <center><i class="fas fa-shapes fa-10x"></i></center>
        <div class="card-body">
                <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Module 3</h3>
        <br>
        <center><i class="fas fa-shapes fa-10x"></i></center>
        <div class="card-body">
                <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
        </div>
    </div>
  </div>

  <div class="card-deck">

      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Module 4</h3>
          <br>
          <center><i class="fas fa-shapes fa-10x"></i></center>
          <div class="card-body">
                  <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
          </div>
      </div>
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Module 5</h3>
          <br>
          <center><i class="fas fa-shapes fa-10x"></i></center>
          <div class="card-body">
                  <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
          </div>
      </div>
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Module 6</h3>
          <br>
          <center><i class="fas fa-shapes fa-10x"></i></center>
          <div class="card-body">
                  <a href="/dashboard/shapes" class="btn btn-outline-secondary">Draw</a>
          </div>
      </div>
    </div>
  
</div>