
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">LearnArt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/learnart-webside/LearnArt" target="_blank">Source Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
          <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      </ul>
    </div>
  </nav>
  
  <h1 class="mt-4">Household Chattel</h1>
  <br>
  <div class="container-fluid"> 
    <div class="card-deck">
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">house</h3>
            <br>
          <center><i class="fas fa-home fa-10x"></i></center>
          <div class="card-body">
                  <a href="/drawHouse" class="btn btn-outline-secondary">Draw House</a>
          </div>
      </div>
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Ceiling Fan</h3>
        <br>
        <center><img src="/images/fan.png" alt="fan" width="180" height="160"/></center>
        <br>
        <div class="card-body">
                <a href="/drawCeilingFan" class="btn btn-outline-secondary">Draw Ceiling Fan</a>
        </div>
    </div>

      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Candle</h3>
          <br>
          <center><img src="/images/candle.png" alt="fan" width="180" height="160"/></center>
          <br>
          <div class="card-body">
                  <a href="/drawCandle" class="btn btn-outline-secondary">Draw Candle</a>
          </div>
      </div>

    </div>
    <div class="card-deck">

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Cup</h3>
        <br>
        <center><i class="fas fa-mug-hot fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawCup" class="btn btn-outline-secondary">Draw Cup</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Eye Glasses</h3>
        <br>
        <center><i class="fas fa-glasses fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawEyeGlasses" class="btn btn-outline-secondary">Draw Eye Glasses</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Computer</h3>
        <br>
        <center><i class="fas fa-desktop fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawComputer" class="btn btn-outline-secondary">Draw Computer</a>
        </div>
      </div>
  
  </div>
  </div>