
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">LearnArt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/learnart-webside/LearnArt" target="_blank">Source Code</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav pull-right">
              <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          </ul>
        </div>
      </nav>
      
      <h1 class="mt-4">Shapes Mania</h1>
      <br>
      <div class="container-fluid"> 
        <div class="card-deck">
      
          <div class="card border-secondary mb-3" style="width: 15rem; ">
              <h3 class="card-header">Line</h3>
                <br>
              <center><i class="fas fa-minus fa-10x"></i></center>
              <div class="card-body">
                      <a href="/drawLine" class="btn btn-outline-secondary">Draw line</a>
              </div>
          </div>
      
          <div class="card border-secondary mb-3" style="width: 15rem; ">
            <h3 class="card-header">Triangle</h3>
              <br>
            <center><img src="/images/triangle.png" alt="triangle" width="180" height="160"/></center>
            <br>
            <div class="card-body">
                    <a href="/drawTriangle" class="btn btn-outline-secondary">Draw triangle</a>
            </div>
        </div>

          <div class="card border-secondary mb-3" style="width: 15rem; ">
              <h3 class="card-header">Square</h3>
              <br>
              <center><i class="far fa-square fa-10x"></i></center>
              <div class="card-body">
                      <a href="/drawSquare" class="btn btn-outline-secondary">Draw square</a>
              </div>
          </div>

        </div>
        <div class="card-deck">

        <div class="card border-secondary mb-3" style="width: 15rem; ">
            <h3 class="card-header">Circle</h3>
            <br>
            <center><i class="far fa-circle fa-10x"></i></center>
            <div class="card-body">
                    <a href="/drawCircle" class="btn btn-outline-secondary">Draw circle</a>
            </div>
        </div>
      
        <div class="card border-secondary mb-3" style="width: 15rem; ">
            <h3 class="card-header">Diamond</h3>
            <br>
            <center><i class="far fa-gem fa-10x"></i></center>
            <div class="card-body">
                    <a href="/drawDiamond" class="btn btn-outline-secondary">Draw diamond</a>
            </div>
        </div>
      
        <div class="card border-secondary mb-3" style="width: 15rem; ">
            <h3 class="card-header">Hexagon</h3>
            <br>
            <center><img src="/images/hexagon.png" alt="hexagon" width="180" height="160"/></center>
            <br>
            <div class="card-body">
                    <a href="/drawHexgon" class="btn btn-outline-secondary">Draw hexagon</a>
            </div>
          </div>
      
      </div>
      </div>