
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/dashboard">LearnArt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/learnart-webside/LearnArt" target="_blank">Source Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
          <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      </ul>
    </div>
  </nav>
  
  <h1 class="mt-4">Space Adventures</h1>
  <br>
  <div class="container-fluid"> 
    <div class="card-deck">
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Star</h3>
            <br>
          <center><i class="far fa-star fa-10x"></i></center>
          <div class="card-body">
                  <a href="/drawStar" class="btn btn-outline-secondary">Draw Star</a>
          </div>
      </div>
  
      <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Sun</h3>
        <br>
        <center><i class="fas fa-sun fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawSun" class="btn btn-outline-secondary">Draw Sun</a>
        </div>
    </div>

      <div class="card border-secondary mb-3" style="width: 15rem; ">
          <h3 class="card-header">Moon</h3>
          <br>
          <center><i class="fas fa-moon fa-10x"></i></center>
          <div class="card-body">
                  <a href="/drawMoon" class="btn btn-outline-secondary">Draw Moon</a>
          </div>
      </div>

    </div>
    <div class="card-deck">

    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Cloud</h3>
        <br>
        <center><i class="fas fa-cloud fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawCloud" class="btn btn-outline-secondary">Draw Cloud</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Rainbow</h3>
        <br>
        <center><i class="fas fa-rainbow fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawRainbow" class="btn btn-outline-secondary">Draw Rainbow</a>
        </div>
    </div>
  
    <div class="card border-secondary mb-3" style="width: 15rem; ">
        <h3 class="card-header">Rain</h3>
        <br>
        <center><i class="fas fa-cloud-showers-heavy fa-10x"></i></center>
        <div class="card-body">
                <a href="/drawRain" class="btn btn-outline-secondary">Draw Rain</a>
        </div>
      </div>
  
  </div>
  </div>